:root {
    --whiteText: rgb(247, 247, 247);
    /* heading */
    font-family: 'Open Sans', sans-serif;
    /* sub-heading */
    font-family: 'Open Sans', sans-serif;
    /* pargraph */
    font-family: 'Hind Guntur', sans-serif;
    --green: #82A888;
    --blue: #3468B2;
    --blackish: rgb(52, 52, 52);
    --greyish: rgb(89, 89, 89);
}

* {
    box-sizing: border-box;
    font-family: 'Hind Guntur', sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.faqs {
    padding: 0 8vw 2vh 8vw;
}

.faq {
    padding-bottom: 2vh;
}

h1 {
    color: var(--blackish);
    font-size: 3rem;
}

.faqs h2 {
    color: var(--blue);
    font-size: 1.2rem;
}

p {
    color: var(--greyish);
    padding-right: 5vw;
    line-height: 1.6rem;
}

.question {
    cursor: pointer;
}

.answer {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.grow {
    max-height: 1000px;
    opacity: 1;
    transition: all .5s ease-in-out;
}