:root {
    --whiteText: rgb(247, 247, 247);
    /* heading */
    font-family: 'Open Sans', sans-serif;
    /* sub-heading */
    font-family: 'Open Sans', sans-serif;
    /* pargraph */
    font-family: 'Hind Guntur', sans-serif;
    --green: #82A888;
    --blue: #3468B2;
    --blackish: rgb(52, 52, 52);
    --greyish: rgb(89, 89, 89);
}

/* Header */
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* top split */
.split-header {
    display: flex;
    flex-direction: column;
    width: 65vw;
}

.contact,
.phone,
.email {
    display: flex;
    align-items: center;
    margin: 0;
}

.contact {
    padding-left: 4vw;
    gap: 2vw;
    border-bottom: 1px solid rgba(247, 247, 247, 0.522);
    margin-bottom: 0.8rem;
}

.contact svg {
    margin-top: -0.3rem;
}

.phone,
.email {
    gap: .5rem;
}

toggle .phone a,
.email p {
    margin: 0;
    font-size: .8rem;
    color: var(--whiteText);
    cursor: pointer;
}

/* bottom split */
.desktop-nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 4vw;
    margin-top: .5rem;
}

header {
    padding: .5rem 4vw 1.5rem 4vw !important;
    gap: 1vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue);
}

.button-container button {
    cursor: pointer;
}

.dropdown p,
.desktop-nav a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--whiteText);
    font-weight: 600;
    cursor: pointer;
    margin: 0;
}

.dropdown {
    margin-right: -1rem;
}

.dropdown p {
    font-weight: 600;
    z-index: 5;
}

.dropdown p:hover {
    color: var(--green);
}

.desktop-nav a:hover {
    color: var(--green);
}


/* submenu dropdown */
.dropdown {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.dropdown-content {
    border-radius: .3rem;
    opacity: 0;
    position: absolute;
    top: 12dvh;
    left: 38vw;
    background-color: white;
    padding: 1.5rem;
    min-width: 220px;
    z-index: 1;
    transition: all 0.25s ease-in;
    transform: translateY(-10px);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content a {
    font-size: 1rem;
    color: var(--blue);
    padding: .3rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: var(--green);
    font-weight: 700;
}

.invert-btn {
    background-color: transparent;
    color: var(--whiteText);
    border: 2px solid var(--whiteText);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
    padding: .5rem 1rem .3rem 1rem;
    cursor: pointer;
}

.invert-btn:hover {
    background-color: var(--whiteText);
    color: var(--blue);
    border: 2px solid var(--whiteText)
}

@media screen and (min-width: 700px) {
    .toggle {
        display: none;
    }

    .quote {
        display: none;
    }

    .mobile-nav {
        display: none;
    }
}

@media screen and (max-width: 700px) {

    header button,
    .split-header {
        display: none;
    }

    header {
        height: 9vh;
        overflow: hidden;
    }

    .toggle {
        position: absolute;
        top: .8rem;
        right: 1rem;
        z-index: 10;
        cursor: pointer;
    }

    .mobile-nav {
        display: none;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateX(100%);
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 33vw;
        height: 130dvh;
        width: 66vw;
        box-shadow: 0 0 500px 500px rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        border: none;
        background-color: var(--blue);
        padding: 2rem 2rem 0rem 2rem;
        z-index: 20;
        transition: transform .5s ease-in-out, opacity .7s ease-in-out;
    }

    .mobile-nav.open {
        display: flex;
        transform: translateX(0);
        opacity: 1;
    }

    #closeBtn {
        margin-bottom: 2rem;
    }

    .mob-dropdown p,
    .mobile-nav a {
        text-decoration: none;
        color: var(--whiteText);
        font-size: 1.5rem;
        margin: 0;
        padding-top: 1.5rem;
    }

    .mob-dropdown {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .mob-dropdown svg {
        margin-top: 1rem;
    }

    .mobile-nav button {
        background-color: transparent;
        border: 2px solid var(--whiteText);
        color: var(--whiteText);
        font-size: 1.5rem;
        margin-top: 5rem;
        padding-top: 0.5rem;
    }

    .mob-dropdown-content {
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: height 0.3s ease, opacity 0.3s ease;
    }

    .mob-dropdown-content ul {
        list-style: none;
        padding: 0 0 0 .5rem;
    }

    #mobProductToggle {
        transition: transform 0.3s ease;
    }

}

@media screen and (max-width: 1100px) and (min-width: 450px) {
    .invert-btn {
        padding: .5rem 1rem .2rem 1rem;
        line-height: 1.2rem;
        overflow: hidden;
    }
}


/* FOOTER */
.footer-cta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    color: var(--whiteText);
    overflow: hidden;
}

.footer-cta svg {
    opacity: .7;
}

.footer-cta h2 {
    padding: 2vh 0;
    font-size: 2rem;
    cursor: pointer;
}

.footer-cta h2:hover {
    transform: scale(1.1);
    transition: transform 1s ease-in-out;
}

.footer-cta svg:nth-child(3) {
    position: absolute;
    right: 5vw;
    animation: moveLeft 4s ease-in-out infinite;
}


@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-15vw);
    }

    100% {
        transform: translateX(0);
    }
}

.footer-cta svg:nth-child(1) {
    position: absolute;
    left: 5vw;
    animation: moveRight 4s ease-in-out infinite;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(15vw);
    }

    100% {
        transform: translateX(0);
    }
}

.footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3vh 4vw 3vh 8vw;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-nav-main {
    gap: .5rem;
}

.footer-nav-main a {
    font-weight: 700;
}

.footer-nav a {
    text-decoration: none;
    color: var(--blue);
}

.footer-nav a:hover {
    color: var(--green);
    font-weight: 700;
}

.footer-nav p {
    color: var(--blue);
    font-weight: 700;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer-contacts {
    gap: 2vh;
}

.phone a:hover,
.email p:hover {
    color: var(--green);
    font-weight: 700;
}

.mini-nav {
    display: flex;
    flex-direction: column;
}

.mini-nav a {
    color: var(--blackish);
    font-size: .8rem;
}

.mini-nav a:hover {
    color: var(--blackish);
}

@media screen and (max-width: 450px) {
    .footer-cta h2 {
        text-align: center;
        padding: 1rem;
        line-height: 2.5rem;
    }

    .footer-cta h2:hover {
        transform: none;
    }

    .footer-cta svg:nth-child(3) {
        opacity: .5;
        position: absolute;
        right: 5vw;
        bottom: 1vh;
        transform: rotate(15deg);
        animation: none;
    }

    .footer-cta svg:nth-child(1) {
        display: none;
        animation: none;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        align-items: center;
    }

    .footer-nav {
        text-align: center;
        margin-bottom: 1rem;
    }

    .footer-nav-main {
        gap: 0rem;
    }

    .footer-nav-main a {
        font-size: 1.3rem;
    }

    .footer-nav p {
        font-size: 1.3rem;
        margin: .5rem 0 0 0;
    }

    .footer-contacts {
        display: grid;
        grid-template-columns: 60% 1fr;
        gap: 1vw;
        width: 100%;
        padding: 1rem 2rem 0 2rem;
    }

    .footer-contacts svg {
        margin-top: -0.4rem;
    }

    .mini-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .mini-nav a {
        color: var(--blackish);
        font-size: .8rem;
    }

    .mini-nav a:hover {
        color: var(--blackish);
    }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
    .footer-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-logo {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .footer-cta h2 {
        text-align: center;
        padding: 1rem;
        line-height: 2.5rem;
    }

    .footer-cta h2:hover {
        transform: none;
    }

    .footer-cta svg:nth-child(3) {
        opacity: .5;
        position: absolute;
        right: 5vw;
        bottom: 1vh;
        transform: rotate(15deg);
        animation: none;
    }

    .footer-cta svg:nth-child(1) {
        display: none;
        animation: none;
    }
}

/* JAVASCRIPT CLASSES */
.hidden {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
}

.invisible {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    height: auto;
    opacity: 1;
    transition: height 0.3s ease, opacity 0.3s ease;
}

.show {
    transform: translateY(0);
    transition: all 0.25s ease-in;
    opacity: 1;
    display: block;
}

.rotate {
    transform: rotate(180deg);
}