:root {
    --whiteText: rgb(247, 247, 247);
    /* heading */
    font-family: 'Open Sans', sans-serif;
    /* sub-heading */
    font-family: 'Open Sans', sans-serif;
    /* pargraph */
    font-family: 'Hind Guntur', sans-serif;
    --green: #82A888;
    --blue: #3468B2;
    --blackish: rgb(52, 52, 52);
    --greyish: rgb(89, 89, 89);
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Hind Guntur', sans-serif;
}

.mobile-nav {
    z-index: 20;
}

body {
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 50% 1fr;
    padding: 5vh 10vw;
    gap: 4vw;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.text-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(2rem, 3vw, 3vw);
    color: var(--blackish);
}

.text-content p {
    color: var(--blackish);
}

.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-img img {
    border-radius: .3rem;
}

.primary-btn {
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: .3rem;
    padding: 0.5em 1rem .2rem 1rem;
    cursor: pointer;
    align-self: center;
    width: 120px;
    color: var(--blue);
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2vh;
    min-width: 160px;
    transition: background-color .7s ease, color 1s ease;
}

.primary-btn:hover {
    background-color: var(--blue);
    color: var(--whiteText);
}

/* BYD SPECIFIC */

#bydTitle {
    margin: 0;
    padding: 1rem 0;
}

.bydListItem {
    transform: translateX(40px);
    opacity: 0;
    transition: transform 1s ease-out, opacity 0.5s ease-out;
    animation: slideIn 2s ease forwards;
}

.bydListItem:nth-child(1) {
    animation-delay: 1.4s;
}

.bydListItem:nth-child(2) {
    animation-delay: 2s;
}

.bydListItem:nth-child(3) {
    animation-delay: 2.6s;
}

.bydListItem:nth-child(4) {
    animation-delay: 2.2s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.safety {
    display: flex;
    padding: 4vh 10vw;
    gap: 6vw;
    align-items: center;
}

.safety h2 {
    font-family: 'Open Sans', sans-serif;
    color: var(--greyish);
    font-size: 2rem;
}

.safety ul {
    color: var(--blackish);
    list-style: none;
}

ul li::before {
    content: "\2022";
    color: var(--blue);
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.banner-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vh;
}

/* WINAICO SPECIFIC */
#winaicoMainImg {
    align-items: flex-start;
    padding-top: 10vh;
}

.winaico-dropdowns {
    padding-top: 2vh;
}

.dropdown-title {
    margin: 0;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    border-bottom: 1px solid rgb(205, 205, 205);
    cursor: pointer;
    margin-bottom: 1rem;
}

.dropdown-title p {
    margin: 0;
    padding-bottom: 0.2rem;
}

.dropdown-title svg {
    margin-top: -0.3rem;
}

.winaico-dropdown-content {
    opacity: 0;
    height: 0;
    transition: opacity 3s ease, height 2s ease-in;
}

@media screen and (min-width: 1000px) {
    .mob-img {
        display: none;
    }

    .text-content {
        padding: 1rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 700px) {

    .text-content p,
    .text-content h1 {
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .desk-img {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 4vw;
    }

    .text-content p,
    .text-content h1 {
        text-align: center;
    }

    .text-content h1 {
        margin: 0;
        padding: 1rem 0;
    }

    .primary-btn {
        align-self: center;
        margin-right: 0vw;
        margin-bottom: 4vh;
    }

    /* BYD SPECIFIC */
    .safety {
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
        gap: 6vw;
        align-items: center;
    }

    .safety h2 {
        font-family: 'Open Sans', sans-serif;
        color: var(--greyish);
        font-size: 2rem;
    }

    #bydMidImg {
        padding-bottom: 1rem;
    }

    .safety ul {
        color: var(--blackish);
        list-style: none;
    }

    .banner-img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4vh;
    }

    /* WINAICO SPECIFIC */
    #winaicoMainImg {
        padding: 2vh 0;
    }

    .winaico-dropdowns {
        padding-top: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-title {
        width: 70%;
        padding-top: 1rem;
        justify-content: center;
        border: none;
        margin: 0;
    }

    .winaico-dropdown-content {
        opacity: 0;
        height: 0;
        transition: opacity 3s ease, height 2s ease-in;
        color: var(--greyish);
    }

}

@media screen and (max-width: 1000px) {
    .desk-img {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 4vw;
    }

    /* BYD SPECIFIC */
    .safety {
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem;
        gap: 6vw;
        align-items: center;
    }

    .safety h2 {
        font-family: 'Open Sans', sans-serif;
        color: var(--greyish);
        font-size: 2rem;
    }

    #bydMidImg {
        padding-bottom: 1rem;
    }

    .safety ul {
        color: var(--blackish);
        list-style: none;
    }

    .banner-img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4vh;
    }
}

/* IFRAMES */
.iframes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    padding: 5vh 5vw;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 450px) {
    .iframes {
        gap: 2vh;
        padding: 2vh 2vw;
    }

}



/* JAVASCRIPT CLASSES */
.hidden {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
}

.invisible {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    height: auto;
    opacity: 1;
    transition: height 2s ease, opacity 3s ease;
    width: 100%;

    p {
        color: var(--greyish);
    }
}

.bold-text {
    font-weight: 600;
    margin-left: 5vw;
    padding-top: 5vh;
}

.color-text {
    font-weight: 700 !important;
    color: var(--blue) !important;
}

.grow {
    width: 100%;
    transition: width 5s ease;
}

.show {
    transform: translateY(0);
    transition: all 0.25s ease-in;
    opacity: 1;
    height: auto;
}

.rotate {
    transform: rotate(180deg);
}

.slide-up {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.slide-left {
    transform: translateX(0);
    opacity: 1;
    transition: transform 1s ease-out, opacity 0.5s ease-out;
}