.quote-container {
    z-index: 10;
    width: 80vw;
    padding: 1rem;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 1px solid rgb(128, 128, 128);
    border-radius: .5rem;
    background-color: #ececec;
    height: fit-content;
    box-shadow: 0 0 1000px 1000px rgba(0, 0, 0, 0.7);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, .7);
}

dialog::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1000px) {
    dialog {
        border: none;
        border-radius: .3rem;
        padding: 2rem;
        width: auto;
    }
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-title h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: var(--blue);
    margin: 0;
    align-self: flex-end;
    margin-bottom: 1rem;
    padding: 0;
}

.details {
    display: flex;
    flex-direction: column;
}

.details label {
    color: var(--greyish);
    margin-top: 1rem;
}

input {
    font-size: 1rem;
    margin-top: .5rem;
}

.details input {
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: .5rem 0 0 .5rem;
    margin-left: 1rem;
    outline: none;
    padding: .3rem 0 0 1rem;
    width: 50%;
    color: var(--blackish);
}

.details input:focus {
    border-bottom: 1px solid var(--blue);
    border-radius: 0 0 0 .5rem;
}

#address {
    width: 80%;
}

/* ADDITIONAL INFORMATION */
.add-title {
    margin: 2rem 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.add-title p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: var(--blackish);
    margin: 0;
}

/* RADIOS */
.radios {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.system-size,
.power-requirement {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

p {
    color: var(--blackish);
    font-weight: 600;
    overflow: hidden;
}

.type label,
.usage label,
.system-size label,
.power-requirement label {
    color: var(--greyish);
    cursor: pointer;
}

input[type="radio"]:checked+label {
    color: var(--blackish);
}

@media screen and (max-width: 500px) {
    .radios {
        flex-direction: column;

    }
}

/* USAGE */
.usage {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.usage input {
    border: 1px solid lightgray;
    width: 100px;
    border-radius: .3rem;
    margin-bottom: 1rem;
    padding: .2rem 0 0 .5rem;

}

/* TYPE */
.type {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.textarea-wrapper {
    height: 10vh;
}

textarea {
    width: 100%;
    height: 80%;
    border: 1px solid lightgray;
    margin-top: 0.5rem;
    padding: .3rem;
    color: var(--greyish);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.textarea-wrapper::-webkit-scrollbar {
    display: none;
}

/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.submit-btn {
    background-color: transparent;
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: .3rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: .3rem 1rem .2rem 1rem;
    cursor: pointer;
    transition: background-color 1s ease, color 1.2s ease;
    margin: .5rem 0 1rem 0;
}

.submit-btn:hover {
    background-color: var(--blue);
    color: white;
}

.close-quote-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* SUBMITTING  */
.submitting {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 250px;
}

.submitting h2 {
    color: var(--blue);
    margin: 0;
}

.next {
    margin: 2rem 1rem -1rem 1rem;
    letter-spacing: 1px;
    padding: 0.2rem 0;
}

/* JAVASCRIPT STYLING */
.show-dropdown {
    height: auto !important;
    opacity: 1 !important;
}

.active-text {
    font-weight: 700 !important;
    color: var(--blue) !important;
}

@media screen and (max-width: 450px) {
    .details input {
        width: 80%;
    }

    .radios p {
        line-height: 1.2rem;
    }
}