:root {
    --whiteText: rgb(247, 247, 247);
    /* heading */
    font-family: 'Open Sans', sans-serif;
    /* sub-heading */
    font-family: 'Open Sans', sans-serif;
    /* pargraph */
    font-family: 'Hind Guntur', sans-serif;
    --green: #82A888;
    --blue: #3468B2;
    --blackish: rgb(52, 52, 52);
    --greyish: rgb(89, 89, 89);
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Hind Guntur', sans-serif;
}

.reviews h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: var(--blackish);
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    grid-row: auto;
    padding: 3vh 6vw;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .2);
    transform: translateY(30px);
    opacity: 0;

}

.card h2 {
    font-family: 'Open Sans', sans-serif;
    color: var(--blue);
}

.card h3 {
    color: var(--greyish);
    margin: 0;
    padding-top: 0.5rem;
}

.card h4 {
    margin: 0;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        padding: 3vh 6vw;
    }
}

@media screen and (max-width: 700px) and (min-width: 451px) {
    .card-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 450px) {
    .card {
        transform: translateY(30px);
        opacity: 0;
    }

    .reviews h1 {
        font-size: 3rem;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 1rem;
    }
}

.slide-up {
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}